.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: inherit;
    height: inherit;
    width: 50vw;
    height: 50vw;
    min-height: 300px;
    min-width: 200px;
    max-width: 500px;
    max-height: 600px;
}

.board {
    width: 100%;
    height: calc(100% - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    height: 100%;
    width: calc(100% / 3);
}

.square {
    height: calc(100% / 3);
    width: 100%;
    line-height: 100%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.noBorderRight {
    border-right: none;
}

.noBorderBottom {
    border-bottom: none;
} 

#restart {
    height: 40px;
    width: 130px;
    font-size: 1rem;
}